<div class="my-info">
  <h1>My Profile</h1>
  <img src="" alt="user photo">

</div>
<div class="my-database">
  <h1>My databases</h1>
  <li>my dbs</li>
</div>
<div class="create-database-form">
  <h1>Fill in for storage in the base</h1>
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone-number">Phone Number</label>
      <input type="number" class="form-control" id="phone-number" placeholder="+7(777)777-77-77" required>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
    </div>
    <div class="form-group">
      <label for="formSelect">Select your organization</label>
      <select multiple class="form-control" id="formSelect" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="formControlTextarea1">Your message(optional)</label>
      <textarea class="form-control" id="formControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btn btn-success" type="submit">Send</button>
  </form>

</div>
