<h1>Fill in for storage in the base</h1>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" *ngIf="userList">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name="firstName" placeholder="First name" #firstName="ngModel"
               [minlength]="2" [(ngModel)]="userList.firstName" required pattern="^[a-zA-Z]+$">
        <div *ngIf="!firstName?.valid && (firstName?.dirty ||firstName?.touched)" style="color: red">
          Invalid first name
          <div *ngIf="firstName.errors.required">
            first name is required
          </div>
          <div *ngIf="firstName.errors.minlength">
            first name Minimum Length is
            {{firstName.errors.minlength?.requiredLength}}
          </div>
        </div>
      </div>
      <div class="col">
        <input type="text" class="form-control" name="lastName" placeholder="Last name" #lastName="ngModel"
               [(ngModel)]="userList.lastName" minlength="2"
               required pattern="^[a-zA-Z]+$">
        <div *ngIf="!lastName?.valid && (lastName?.dirty ||lastName?.touched)" style="color: red">
          Invalid last name
          <div *ngIf="lastName.errors.required">
            lastname is required
          </div>
          <div *ngIf="lastName.errors.minlength">
            lastname Minimum Length is
            {{lastName.errors.minlength?.requiredLength}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="phone-number">Phone Number</label>
    <input type="number" class="form-control" id="phone-number" name="phoneNumber" placeholder="+7 777 777 77 77"
           #phoneNumber="ngModel" [(ngModel)]="userList.phoneNumber" required [maxLength]="12" minlength="11"
           pattern="^(8|\+7)[0-9]{10}">
    <div *ngIf="!phoneNumber?.valid && (phoneNumber?.dirty ||phoneNumber?.touched)" style="color: red">
      Invalid phone number
      <div *ngIf="phoneNumber.errors.required">
        phone number is required
      </div>
      <div *ngIf="phoneNumber.errors.minlength">
        phone number Minimum Length is
        {{phoneNumber.errors.minlength?.requiredLength}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"
           [(ngModel)]="userList.email" required email>
  </div>
  <div class="form-group">
    <label for="formSelect">Select your organization</label>
    <select multiple class="form-control" id="formSelect" name="organization" [(ngModel)]="userList.organization">
      <option *ngFor="let organizations of customers">{{organizations.companyName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="formControlTextarea1">Your message(optional)</label>
    <textarea class="form-control" id="formControlTextarea1" name="message" rows="3"
              [(ngModel)]="userList.message"></textarea>
  </div>
  <button class="btn btn-success" type="submit">Send</button>

</form>
